.profile__edit-button {
    grid-area: button;
    align-self: center;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff; 
    box-sizing: border-box;
    padding: 0;
    background-color: #000000;
    background-image: url(../../../images/edit_button.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}