.header {
  width: 100%;
  max-width: 880px;
  height: 74px;
  display: flex;
  align-items: flex-start;
  margin: 45px 0 0;
  border-bottom: 1px solid #545454;
  overflow: visible;
}

@media screen and (max-width: 375px) {
  .header {
    height: 56px;
    margin: 28px 0 0;
  }
}
