.profile__add-button {
    min-width: 150px;
    height: 50px;
    margin-left: auto;
    border: 2px solid #ffffff; 
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0;
    justify-self: flex-end;
    background-color: #000000;
    background-image: url(../../../images/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
    .profile__add-button {
        justify-self: none;
        margin-left: 0;
    }
}

@media screen and (max-width: 375px) {
    .profile__add-button {
        width: 100%;
    }
}