.photo-grid__item-name {
    margin: 0 0 0 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}