.popup__content {
    width: 100%;
    max-width: 430px;
    height: 330px;
    margin: 195px auto 0;
    padding: 34px 26px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 470px) {
  .popup__content {
    width: 100%;
    max-width: 282px;
		height: 322px;
    margin: 119px auto 0;
    padding: 25px 22px;
    }   
  }   